#babel,
#css,
#express,
#git,
#heroku,
#html,
#jest,
#js,
#netlify,
#node,
#pg,
#postman,
#react,
#vsCode,
#codeWars {
  width: 12vw;
  border: none;
}

#buttonDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#babel {
  background-image: url("./babel.JPG");
  background-size: 96%;
  width: 11vw;
  height: 16vh;
}

#css {
  background-image: url("./css.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#express {
  background-image: url("./express\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#git {
  background-image: url("./Git\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#heroku {
  background-image: url("./heroku\ bubble.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#html {
  background-image: url("./html\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#jest {
  background-image: url("./jest\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#js {
  background-image: url("./JS\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#netlify {
  background-image: url("./netlify\ bubble\ -\ Copy\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#node {
  background-image: url("./node\ bubble.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#pg {
  background-image: url("./PG\ bubble.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#postman {
  background-image: url("./postman\ bubble.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#react {
  background-image: url("./react\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#vsCode {
  background-image: url("./vscode\ bubble\ \(1\).JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
#codeWars {
  background-image: url("./codwars\ bubble\ -\ Copy.JPG");
  background-size: 100%;
  width: 11vw;
  height: 16vh;
}
